.viewer {
  height: 100%;
}
.view-area {
  height: 100%;
  touch-action: none;

  position: relative;
}
.setting-panel {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 282px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  overflow-y: scroll;
  /* display: none; */
}
.setting-panel::-webkit-scrollbar {
  display: none;
}
.navigation-panel {
  position: relative;
  bottom: 100%;
  width: 282px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  overflow-y: scroll;
  z-index: 10;
  /* display: none; */
}
.navigation-panel::-webkit-scrollbar {
  display: none;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-operation-panel {
  width: 412px !important;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: calc(50% - 206px);
  z-index: 10;
  /* display: none; */
}
.progress-panel {
  width: 412px !important;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.38);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 206px);
  z-index: 10;
  /* display: none; */
}
