.search-input-box {
  position: absolute;
  left: 13px;
  top: 14px;
  width: 229px;
  height: 38px;
  background: rgba(191, 191, 191, 1);
  opacity: 0.28;
  border-radius: 19px;
  border: none;
  outline: none;
  padding-left: 20px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.search-input-box::placeholder {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: 1px;
}

.search-input-icon {
  position: absolute;
  left: 230px;
  top: 25px;
  color: #bfbfbf;
  font-size: 20px;
}
.search-result-item {
  /* width: 240px; */
  margin: 10px 20px;
  border-bottom: 2px solid rgba(112, 112, 112, 0.1);
}
.search-result-excerpt {
  width: 236px;
  height: 87px;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 14px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  margin: 12px 5px;
}
.search-input-container {
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 10;
}
