.book-list-container {
  position: absolute;
  top: 75px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  user-select: text;
}
.book-list-container::-webkit-scrollbar {
  display: none;
}
.book-list-view {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  margin-right: 30px;
  clear: both;
}
.card-list-mode {
  width: 74px;
  height: 17px;
  float: left;
  line-height: 17px;
  cursor: pointer;
}
.list-view-mode {
  width: 74px;
  height: 17px;
  float: left;
  line-height: 17px;
  margin-left: 15px;
  cursor: pointer;
}
.book-list-item-box {
  position: relative;
  top: 10px;
}
