.choose-drive-container {
  width: 454px;
  height: 278px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.34);
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-content: flex-start;
  position: absolute;
  left: calc(50% - 225px);
  top: calc(50% - 150px);
  z-index: 10;
  animation: popup 0.1s ease-in-out 0s 1;
  animation: popout 0.1s ease-n-out 0s 1;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
.choose-drive-container::-webkit-scrollbar {
  display: none;
}
.choose-drive-title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  text-align: center;
}
.choose-drive-drive-container {
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
  bottom: 15px;
}
.choose-drive-list-item {
  float: left;
  width: 150px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose-drive-list-item-container {
}
.choose-drive-list-icon {
  font-size: 50px;
  position: relative;
  left: 45px;
  cursor: pointer;
  line-height: 50px !important;
}
.choose-drive-list-title {
  width: 150px !important;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(75, 75, 75, 1);
  opacity: 1;
  width: 100%;
  text-align: center;
}
.icon-onedrive {
  font-size: 40px;
  position: relative;
  left: 40px;
}
.icon-googledrive {
  font-size: 45px;
}
.icon-yandex {
  font-size: 42px;
  position: relative;
  left: 37px;
  display: inline-block;
  transform: scale(0.9);
}
.icon-yandex:after {
  font-size: 44px;
  z-index: 11;
}
.icon-webdav {
  font-size: 35px;
  position: relative;
  left: 40px;
}
.icon-mega {
  position: relative;
  left: 49px;
}
.choose-drive-close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
